@charset "utf-8";

body {
    width: 100vw;
}

.navigation {
    display: flex;
}

img.tag {
    width: 10%;
    height: 20%;
    margin: 20px 40px;
}

.nav {
    line-height: 4;
    margin-left: 32%;
}

ul.navigate {
    display: flex;
    margin-left: auto;
}

li.column {
    justify-content: space-between;
    margin-left: 5%;
}

.important {
    position: relative;
    text-align: center;
    width: 100vw;
    max-width: 100vw;
    height: auto;
}

.word {
    color: #918;
    position: absolute;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 27px;
    top: 23%;
    left: 24%;
    text-align: justify;
}

.commit {
    position: absolute;
    font-size: 15px;
    margin-top: 28%;
}

span {
    color: #080;
}

span.sub_title {
    color: #420;
    bottom: 33%;
    position: absolute;
    font-size: 10px;
    text-align: justify;
    left: 24%;
}

img.first_view {
    width: 40vw;
    margin-left: 14%;
}

.informations {
    margin-top: 3%;
}

li.sub-title {
    font-family: 'Sedgwick Ave', cursive;
    color: #918;
    margin-bottom: 10px;
    list-style: none;
    margin-left: 498px;
}

li.information {
    font-weight: bold;
    border-bottom: 1px solid #532;
    padding-bottom: 15px;
    list-style: none;
    margin: 0 auto;
    width: 505px;
}

table.info {
    margin: 0 auto;
}


td.date_news {
    border-bottom: 1px solid #134;
    padding-bottom: 5px;
    padding-top: 10px;
}

span.news {
    margin-left: 15px;
    margin-right: 15px;
}


