@charset "utf-8";

* {
    outline: 1px solid red !important;
}

html,body {
    /* width: 1000px; */
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    margin: 0;
}

.navigation {
    display: flex;
    width: 100%;
}

img.tag {
    width: 12%;
    height: auto;
    margin: 10px 20px;
}

.nav {
    line-height: 4;
    margin-left: auto;
    padding-right: 30px;
    font-size: 12px;
}

ul.navigate {
    display: flex;
    margin-left: 15px;
}

li.column {
    justify-content: space-evenly;
    margin-right: 15px;
}

.important {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.word {
    color: #918;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 28px;
    margin-left: 0%;
    bottom: 0;
    right: auto;
    margin-top: 5%;
    text-align: justify;
    width: 97%;
}

.commit {
    position: absolute;
    font-size: 18px;
    margin-top: 10%;
}

span {
    color: #080;
}

p.sub_title {
    color: #420;
    margin-top: 5%;
    position: absolute;
    font-size: 17px;
    text-align: justify;
    top: 70%;
    left: 0%;
}

.word2 {
    padding-left: 55%;
    width: 150%;
}

.important img.first_view {
    width: 100%;
    height: auto;
    margin-left: auto;
    display: block;
    margin-right: 0;
    right: 0;
    flex: 1;
}

.informations {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 518px;
}

li.sub-title {
    font-family: 'Sedgwick Ave', cursive;
    color: #918;
    margin-bottom: 10px;
    list-style: none;
    margin-left: 0;
    text-align: left;
}

li.information {
    font-weight: bold;
    border-bottom: 1px solid #532;
    padding-bottom: 15px;
    list-style: none;
    margin: 0 auto;
}

table.info {
    width: 100%;
}

td.date_news {
    border-bottom: 1px solid #134;
    padding-bottom: 2%;
    padding-top: 2%;
}

span.news {
    margin-left: 3%;
    margin-right: 3%;
    background: #C71585;
    padding: 3px;
    border-radius: 14px;
    color: #fff;
}

.background {
    background: #f2f2f2;
    padding-bottom: 5%;
}

.sub-title {
    font-family: 'Sedgwick Ave', cursive;
    color: #918;
    margin-bottom: 10px;
    list-style: none;
    padding-top: 22px;
    /* margin-left: 25%; */
    text-align: center;
}

.title02 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    /* margin-left: 24%; */
    margin-bottom: 3%;
}

.about {
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 24%; */
}

.about .explain_row {
    width: 270px;
    text-align: justify;
    line-height: 18px;
    /* vertical-align: middle; */
    margin-left: 0;
    display: inline-block;
    margin-top: 21px;
}

.about p.explain {
    margin-bottom: 15%;
    color: #797979;
    line-height: 1;
}

.about img.about_picture {
    width: auto;
    height: 230px;
}


.sub-title2 {
    font-family: 'Sedgwick Ave', cursive;
    color: #918;
    margin-bottom: 10px;
    list-style: none;
    padding-top: 22px;
    margin-left: 24%;
    /* margin-top: 10%; */
}

.title03 {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-left: 24%;
    margin-bottom: 3%;
}

.educations {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.education01 {
    background-color: #ff0461;
    text-align: center;
    width: 46%;
    padding: 5%;
}

img.education_1 {
    width: 50%;
}

.business {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
}

p.sample_text {
    text-align: justify;
    color: #fff;
    font-size: 13px;
    line-height: 2;
    /* overflow-wrap: break-word; */
}

p.sample_text01 {
    text-align: justify;
    color: #fff;
    font-size: 13px;
    margin-bottom: 14px;
    display: inline-block;
}

img.education_2 {
    width: 35%;
}

.education02 {
    display: flex;
    background: #FF82B2;
    padding: 5%;
    width: 100%;
    margin-right: -23%;
}

.language {
    margin-left: 5%;
}

p.business01 {
    color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.education03 {
    display: flex;
    background: #BC8F8F;
    padding: 5%;
    width: 100%;
    margin-right: -23%;
}

.background01 {
    background: #f2f2f2;
    margin-top: 10%;
    padding-bottom: 2%;
}

.blogs {
    display: flex;
    justify-content: space-evenly;
}

.blog {
    position: relative;
    border: 1px solid #fff;
    height: 61px;
    width: 200px;
    background: #fff;
    border-radius: 5%;
}

.blog_title {
    position: absolute;
    color: #fff;
    background: #C71585;
    font-size: 5%;
    padding: 3%;
    top: 0;
    left: 0;
    z-index: 1;
    border-top-left-radius: 21%;
}

img.pc_cafe {
    width: 100%;
    position: absolute;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.blog_paragraph {
    margin-top: 70%;
    font-size: 12px;
    padding: 4%;
}

.sub-footer {
    display: flex;
    margin-top: 13%;
    justify-content: space-between;
    color: #778899;
}

.button {
    border: 2px solid #C71585;
    width: 140px;
    margin-top: 195px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #C71585;
    background: #fff;
}

.company_detail {
    margin-bottom: 6%;
    padding-top: 25px;
}

li.sub-title {
    font-family: 'Sedgwick Ave', cursive;
    color: #918;
    margin-bottom: 10px;
    list-style: none;
    padding-top: 22px;
    /* margin-left: 25%; */
}

li.title02 {
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    /* text-align: center; */
    /* margin-left: 24%; */
    margin-bottom: 3%;
}

.sub-title3 {
    font-family: 'Sedgwick Ave', cursive;
    color: #918;
    margin-bottom: 10px;
    list-style: none;
    margin-left: 30%;
    margin-top: 2%;
}

.title04 {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-left: 30%;
    margin-bottom: 3%;
}

table.company_detail{
    margin: auto;
    table-layout: auto;
    width: 40%;
}

th.detail {
    background: #f2f2f2;
    border: 1px solid #708090;
    padding: 10px;
}

td.detail_name {
    color: #778899;
    border: 1px solid #708090;
    padding: 10px;
}

.picture {
    display: flex;
    margin-bottom: 5%;
    width: 100%;
}

.recruit {
    position: relative;
    width: 50%;
}

.picture img.img {
    width: 100%;
}

p.introduce {
    position: absolute;
    top: 40%;
    left: 35%;
    color: #fff;
    font-size: 22px;
}

.interview {
    position: relative;
    width: 50%;
}

secton img.img {
    width: 100%;
}

.access01 {
    text-align: center;
}

.access02 {
    color: #696969;
    margin-bottom: 10px;
}

.comment {
    margin-bottom: 10px;
}

input.access03 {
    caret-color: #918;
    outline: none;
    white-space: pre-line;
    word-break: break-all;
}

input.btn{
    background: #FF367F;
    color: #fff;
    padding: 15px 50px;
    border-radius: 100px;
    margin-bottom: 3%;
    box-shadow: 0px 5px 2px #800080;
}

.submit_01{
    position: relative;
}

.submit_01::before{
    position: absolute;
    content: "✉️";
    color: #fff;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 0;
}

footer.background03 {
    height: 4vh;
    background: #f2f2f2;
    color: #708090;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}